# Python

**pycache**/
*.py[cod]
*.pyo
*.so

# Virtual environments

venv/
.env/
.conda/
env/
ENV/

# Jupyter

.ipynb_checkpoints/

# IDE / Editor

.vscode/
.idea/
*.swp
*.swo

# Temporary

tmp/
temp/
scratch/
artifacts/
*.tmp
*log*

# Build artifacts

dist/
*.egg-info/

# Psi4 outputs

*.dat
*.clean